@import "tailwindcss";
@plugin "daisyui";

/* Swiper slider resources */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

/* Navbar Active color */
.menu li > .active {
  @apply text-white bg-green-600;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

/* From Uiverse.io by prashantj510 */
.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card2 {
  /* background-color: #1a1a1a; */
  background-image: linear-gradient(90deg, #555252, #4eb87a);
  border-radius: 20px;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.97);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
