@import "tailwindcss";
@plugin "daisyui";

/* Swiper slider resources */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';


/* Navbar Active color */
 .menu li > .active {
  @apply text-white bg-green-600 ;
}
/* Navbar items bg-transparent  */
/* .navbar .menu li > a:hover, */
/* .navbar .menu li > a:focus {
  @apply bg-transparent outline-none ;
} */
/* Private Route text color */
.navbar div ul a:hover {
      @apply text-green-600 ;
} 