/* @import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, dim --prefersdark;
} */

@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, dim --prefersdark;
  --color-primary: #14aa00;
  --color-secondary: #cb44dd;
  --color-base-100: #f8f6f6 ;
  --color-base-200: #c4c2c2;
  --color-base-300: #9c9c9c;
  --color-accent: #252525;
  --color-base-400: #ffffff;
}
.h4{

 background-color: #14aa00;
 background-color: #cb44dd;
 background-color: #f8f6f6;
 background-color: #c4c2c2;
 background-color: #9c9c9c;
 background-color: #252525;
 background-color: #ffffff;
}