@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #14aa00;
  --color-secondary: #cb44dd;
  --color-base-100: #f8f6f6 ;
  --color-base-200: #c4c2c2;
  --color-base-300: #9c9c9c;
  --color-accent: #252525;
  --color-base-400: #ffffff;
}
.h4{

 background-color: #14aa00;
 background-color: #cb44dd;
 background-color: #f8f6f6;
 background-color: #c4c2c2;
 background-color: #9c9c9c;
 background-color: #252525;
 background-color: #ffffff;
}

a.active {
  @apply bg-[#14aa00] px-2 rounded-md text-base-100;
}
.btn{
  color: white;
  background-color: #14aa00;
  
  font-size: 16px;
}

/* review animiation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  display: flex;
  gap: 2rem; 
  animation: scroll-left 20s linear infinite;
}
